main {
  width: fit-content;
}
ul {
  list-style-type: none;
}
.heading {
  font-size: 20px;
  font-weight: 800;
}
#time {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.controls {
  margin-top: 10px;
  text-align: center;
}
